@import "variables";

.detailed-page__wrapper {
    position: relative;
    margin: 50px auto;
    display: flex;
    width: 80vw ;
}

.detailed-page {
    display: flex;

    height: auto;

    border-radius: 0 20px 20px 20px;
    overflow: auto;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);

    background-color: $background-color;

    &__detailed-page__img{
        display: block;
    }

    &__info {
        margin: 0 auto;
        width: 100%;
        padding: 10px;

        display: flex;
        flex-direction: column;
        height: auto;
    }

    &__title{
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-between;
    }

    &__statistic{
        margin-top: auto;
        display: flex;
        justify-content: space-around;
    }

    &__views, &__likes, &__dislikes, &__comments {
        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: 2.5px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
    }

    &__views::before {
        left: -25px;
        width: 20px;
        height: 13px;
        background-image: url('../../assets/viewed.svg');
    }

    &__likes::before {
        left: -18px;
        width: 15px;
        height: 13px;
        background-image: url('../../assets/liked.svg');
    }

    &__dislikes::before {
        left: -18px;
        width: 15px;
        height: 13px;
        background-image: url('../../assets/dislike.svg');
    }

    &__comments::before {
        left: -18px;
        width: 13px;
        height: 13px;
        background-image: url('../../assets/Group\ 9.svg');
    }

    &__back-button {
        position: absolute;
        left: -60px;
        top: -3px;

        &:hover {
            cursor: pointer;
        }
    }
}