@import "variables";

.admin{
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    gap: 10px;

    background-color: $background-color;
    border-radius: 20px;

    width: 50vw;
    min-height: 50vh;

    padding: 40px;

    &__tags-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__create-card, &__remove-tag, &__add-tag, &__reset {
        align-self: center;
    }
}
