@import "variables";

:host{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.admin{
    display: flex;
    flex-direction: column;
    gap: 10px;

    background-color: $background-color;
    border-radius: 20px;

    width: 50vw;
    height: auto;

    padding: 40px;

    &__tags-container {
        display: flex;
        flex-direction: column;
    }
}

input {
    height: 40px;
}