.header-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.search-field{
    grid-column: 2;
}

.profile-section {
    grid-column: 3;
    justify-self: end;
}