.custom-button {
    display: block;
    height: 33px;
    width: 100px;
    text-align: center;
    margin-left: -5px;
    background-color: #2F80ED;
    color: white;
    outline: none;
    cursor: pointer;
}