.header-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto; 
    align-items: center;
    background-color: rgb(223, 218, 218);
}

.search-field__form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-field{
    grid-column: 2;
}

.profile-section {
    grid-column: 3;
    justify-self: end;
}

.sort-field {
    grid-column: 1 / 4;
    grid-row: 2;
}

.sort-field, .sort-settings, .sort-input, .search-field, .profile-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.search-field__show-sort-field {
    cursor: pointer;
}

.sort-settings__position {
    cursor: pointer;
}

.search-field__input[type="text"] {
    padding: 10px;
    width: 300px;
    height: 10px;
    margin-right: 4px;
}

.sort-settings {
    color: #2F80ED;
}

.sort-settings__position:hover{
    cursor: pointer;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: #2F80ED;
}